header {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.underscore {
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
.rightGuess {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
.wrongGuess {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}